@model CrudCreateDummy1.Models.Products
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <h4><a asp-controller="Products" asp-action="Create"><span><i>Add-Products</i></span></a></h4>
            </div>
            <div class="col-sm-6">
                <h4><a asp-controller="Products" asp-action="Show"><span><i>Show-Products</i><</span></a></h4>
            </div>
        </div>
    <hr />
</div>



